<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

    <head><head th:replace="/fragments/header :: common-header"></head>

<body>
	<div th:replace="fragments/header :: header"></div>   
	
	        <div class="container">
            Adjust BRC

				<form action="#" th:action="@{/BRCData}" th:object="${BRCData}" method="post">
					
					<div class="row form-group">
						<div class="col-lg-6">                
							<input type="number" class="form-control" th:field="*{lineNumber}" placeholder="lineNumber" hidden="true"/>
						</div>

						<div class="col-lg-6">
							<input type="text" class="form-control" th:field="*{detailSource}" value="${BRCData.detailSource}" hidden="true"/>
						</div>
					</div>

					
					<div class="row form-group">
						<div class="col-lg-6">                
							<label for="name">Document Reference</label>
							<input type="text" class="form-control" th:field="*{docRefNum}" value="${BRCData.docRefNum}">
							<span class="badge-warning" th:if="${#fields.hasErrors('docRefNum')}" th:errors="*{docRefNum}">docRefNum Error</span>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-lg-6">                
							<label for="name">Location</label>
							<input type="text" class="form-control" th:field="*{location}" value="${BRCData.location}">
							<span class="badge-warning" th:if="${#fields.hasErrors('location')}" th:errors="*{location}">Location</span>
						</div>

						<div class="col-lg-6">                
							<label for="name">Quantity</label>
							<input type="number" class="form-control" th:field="*{quantity}" value="${BRCData.quantity}">
							<span class="badge-warning" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">Quantity</span>
						</div>

						<div class="col-lg-6">                
							<label for="name">Cond Code</label>
							<input type="number" class="form-control" th:field="*{conditionCode}" value="${BRCData.conditionCode}">
							<span class="badge-warning" th:if="${#fields.hasErrors('conditionCode')}" th:errors="*{conditionCode}">Cond Code</span>
						</div>
					</div>

					<button type="Save" class="btn btn-lg btn-primary">Submit</button>
					<a class="btn btn-lg btn-warning" th:href="@{/brc}"> Cancel </a></td>
				</form>
			</div>  
			
	<div th:replace="fragments/footer :: footer"></div>    
</body>

</html>