<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
        <head th:replace="/fragments/header :: common-header"><title>ByteShark</title></head>
        <link rel="stylesheet" th:href="@{/css/custom.css}" type="text/css">
	</head>

<body>
    
<div th:replace="/fragments/header :: header"></div>

<div class="container-fluid">
    <h4 class="UTCTheme">[[${carNumber}]]</h4>
</div>

<div class="container-fluid">
    <div class="btn-toolbar" role="toolbar">
        <button type="submit" class="btn btn-sm btn-secondary" form="BRCTable">Submit</button>
        <button type="reset" class="btn btn-sm btn-danger" form="BRCTable">Reset</button>
        <a href="/brc/edit/new" class="btn btn-sm btn-secondary">Add Line</a>
    </div>
</div>

<div class="container-fluid">
    <table id="BRCData" class="table table-sm table-striped table-bordered table-hover" >
        <thead class="thead-dark">
            <tr>
                <th scope="col"> Row </th>
                <th scope="col"> Loc </th>
                <th scope="col"> Qty </th>
                <th scope="col"> Con Code </th>
                <th scope="col"> Applied </th>
                <th scope="col"> Description </th>
                <th scope="col"> Removed </th>
                <th scope="col"> Why Made </th>
                <th scope="col"> Resp </th> 
                <th scope="col"> Materials </th>
                <th scope="col"> Total Charge </th>
                <th scope="col"> Edit </th>
                <th scope="col"> Detail </th>
            </tr>
        </thead>
        <tbody>
            <form id="BRCTable" action="#" th:action="@{/brc/update}" th:object="${update}" method="post">
                <input type="text" th:field="*{response}" value="${response}>" hidden="true">
                <tr th:if="${update.data.empty}">
                    <td colspan="7"> This BRC is currently Empty </td>
                </tr>
                <tr scope="row" th:each="BRCLine, stat : ${update.data}">
                    <td th:text="${BRCLine.lineNumber}"></td>
                    <td><input type="text"      class="form-control" th:field="*{data[__${stat.index}__].location}"             size = "2"  value="${BRCLine.location}"></td>
                    <td><input type="number"    class="form-control" th:field="*{data[__${stat.index}__].quantity}"             size = "2"  value="${BRCLine.quantity}"></td>
                    <td><input type="number"    class="form-control" th:field="*{data[__${stat.index}__].conditionCode}"        size = "2"  value="${BRCLine.conditionCode}"></td>
                    <td><input type="number"    class="form-control" th:field="*{data[__${stat.index}__].appliedJobCode}"       size = "4"  value="${BRCLine.appliedJobCode}"></td>
                    <td><input type="text"      class="form-control" th:field="*{data[__${stat.index}__].narrative}"            size = "50" value="${BRCLine.narrative}"></td>
                    <td><input type="number"    class="form-control" th:field="*{data[__${stat.index}__].removedJobCode}"       size = "4"  value="${BRCLine.removedJobCode}"></td>
                    <td><input type="number"    class="form-control" th:field="*{data[__${stat.index}__].whyMadeCode}"          size = "2"  value="${BRCLine.whyMadeCode}"></td>
                    <td><input type="number"    class="form-control" th:field="*{data[__${stat.index}__].responsabilityCode}"   size = "2"  value="${BRCLine.responsabilityCode}"></td>
                    <td><input type="number"    class="form-control" th:field="*{data[__${stat.index}__].laborCharge}"          size = "7"  value="${BRCLine.laborCharge}"></td>
                    <td><input type="number"    class="form-control" th:field="*{data[__${stat.index}__].materialCharge}"       size = "7"  value="${BRCLine.materialCharge}"></td>
                    <td th:text="'$' + ${#numbers.formatDecimal(BRCLine.laborCharge + BRCLine.materialCharge, 0, 'COMMA', 2, 'POINT')}"></td>
                    <td><a th:href="@{'/brc/edit/' + ${BRCLine.lineNumber}}"><button type="button" class="btn btn-sm btn-secondary">Detail</button></a></td>

                    <input hidden="true"    type="number"    class="form-control" th:field="*{data[__${stat.index}__].lineNumber}"   value="${BRCLine.lineNumber}"/>
                    <input hidden="true"    type="text"      class="form-control" th:field="*{data[__${stat.index}__].carInitial}"   value="${BRCLine.carInitial}"/>
                    <input hidden="true"    type="number"    class="form-control" th:field="*{data[__${stat.index}__].carNumber}"    value="${BRCLine.carNumber}"/>

                </tr>
            </form>
            
        </tbody>
    </table>
    <div class="btn-toolbar" role="toolbar">
        <button type="submit" class="btn btn-sm btn-secondary" form="BRCTable">Submit</button>
        <button type="reset" class="btn btn-sm btn-danger" form="BRCTable">Reset</button>
        <a href="/brc/edit/new" class="btn btn-sm btn-secondary">Add Line</a>
    </div>
    
</div>
<div th:replace="/fragments/footer :: footer"></div>        
</body>
</html>

